.cont {
  .top {
    color: blue;
    display: flex;
    background-image: url('../images/1.jpeg');
    width: 1.5rem;
    height: 1.5rem;
  }
  .bottom {
    color: #F00000;
    display: flex;
    background-image: url('../images/2.jpeg');
    width: 1.5rem;
    height: 1.5rem;
  }
}
